.container {
  padding: 84px 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  width: 100%;
}

.imgBox {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleBox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: baseline;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  display: block;
}

.infoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  display: flex;
  align-items: center;
  gap: 6px;
}

.locationBox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
  margin-bottom: 32px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.conditions {
  margin-top: 68px;
}

.titleCond {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 20px;
}

.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.listItem {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.listItem:last-child {
  margin-bottom: 0;
}

.specifBox {
  margin-top: 64px;
}
